@model IEnumerable<hocvien.Model.Nhanvien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!string.IsNullOrEmpty(ViewBag.ThemSuccessMessageNV))
{
    <div id="msgAlert" class="alert alert-success" role="alert">
        @ViewBag.ThemSuccessMessageNV
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessageNV))
{
    <div id="msgAlert" class="alert alert-success" role="alert">
        @ViewBag.SuccessMessageNV
    </div>
}

<h1>Danh sách nhân viên</h1>

<p>
    <a asp-action="formThemnhanvien" class="btn btn-primary">Thêm nhân viên</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              Họ tên
            </th>
            <th>
               Ngày sinh
            </th>
            <th>
             Giới tính
            </th>
            <th>
                SDT
            </th>
            <th>
               Địa chỉ
            </th>
            <th>
               Trạng thái
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Trangthai)
            </th>*@
           @* <th>
                @Html.DisplayNameFor(model => model.Matkhau)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Nhom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @(((DateTime)item.Ngaysinh).ToString("dd/MM/yyyy"))
            </td>
            <td>
                    @if (item.Gioitinh == 1)
                    {
                        <span>Nam</span>
                    }
                    else
                    {
                        <span>Nữ</span>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthai)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Trangthai)
            </td>*@
           @* <td>
                @Html.DisplayFor(modelItem => item.Matkhau)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Nhom)
            </td>
                <td>
                    <a asp-action="formSuanhanvien" asp-route-id="@item.Manv" class="btn btn-primary btn-rounded">Sửa</a>
                </td>
                <td>
                    <a asp-action="formXoanhanVien" asp-route-id="@item.Manv" class="btn btn-danger delete-btn">Xóa</a>
                </td>
                <td>
        </tr>
}
    </tbody>
</table>
