@model IEnumerable<hocvien.Model.CChitietphieudangkyViewcs>
@{
    Layout = "_Layout";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Maphieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mahv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaydk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ghichu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maloptuyensinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenloptuyensinh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Maphieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mahv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaydk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ghichu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maloptuyensinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenloptuyensinh)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
