@model hocvien.Model.Phieudangkyhoc
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h3>Bạn có chắc chắn muốn xóa không?</h3>*@
<div>
    @if ((int)ViewBag.flag == 0)
    {
        <h5 class="text-xl text-uppercase">Bạn thực sự muốn xóa</h5>
    }
    else
    {
        <h5 class="text-xl text-uppercase">Bạn không thể xóa</h5>
    }
   
    <div>
       
        <hr />

        <dl class="row">
            <dt class="col-sm-2">
                Họ tên học viên
            </dt>
            <dd class="col-sm-10">
                @ViewBag.HocVien.Hoten
            </dd>
            <dt class="col-sm-2">Mã lớp tuyển sinh</dt>
            <dd class="col-sm-10">@ViewBag.LopDangKy.Maloptuyensinh</dd>
            <dt class="col-sm-2">Ngày bắt đầu</dt>
            <dd class="col-sm-10">@ViewBag.NgayBatDau.ToString("dd/MM/yyyy")</dd>
            <dt class="col-sm-2">Ngày kết thúc</dt>
            <dd class="col-sm-10">@ViewBag.NgayKetThuc.ToString("dd/MM/yyyy")</dd>
            <dt class="col-sm-2">Mã khóa học</dt>
            <dd class="col-sm-10">@ViewBag.MaKh</dd>
            <dt class="col-sm-2">Mã môn học</dt>
            <dd class="col-sm-10">@ViewBag.MaMh</dd>
            <dt class="col-sm-2">
              Ngày đăng ký
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ngaydk)
            </dd>
            <dt class="col-sm-2">
               Ghi chú
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ghichu)
            </dd>
          @*  <dt class="col-sm-2">
               Tổng tiền
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.tongtien)
            </dd>*@
           @* <dt class="col-sm-2">
               Số 
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sotiendatra)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sotienconlai)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sotienconlai)
            </dd>*@
        
          @*  <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ManvNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ManvNavigation.Manv)
            </dd>*@
        </dl>

        <form asp-action="xoaPhieudangky" asp-route-id="@Model.Maphieu" method="post">
            
            <div class="row">
                <div class="col-sm-2">
                    @if ((int)ViewBag.flag == 0)
                    {
                        <input type="submit" value="Xóa" class="btn btn-danger" />
                    }
                </div>
                <div class="col-sm-10">
                    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
                </div>
            </div>
        </form>
    </div>
</div>
