@model IEnumerable<hocvien.Model.CPhieuDangKy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessageThem))
{
    <div id="msgAlert" class="alert alert-success" role="alert">
        @ViewBag.SuccessMessageThem
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessageSua))
{
    <div id="msgAlertS" class="alert alert-success" role="alert">
        @ViewBag.SuccessMessageSua
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessageXoa))
{
    <div id="msgAlertX" class="alert alert-success" role="alert">
        @ViewBag.SuccessMessageXoa
    </div>
}
<h1>Danh sách phiếu đăng ký</h1>

<p>
    <a asp-action="SearchCourse" class="btn btn-primary">Tạo phiếu đăng ký</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
               Mã phiếu
            </th>
            <th>
               Mã hv
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.Makh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mamh)
            </th>*@

            <th>
             Họ tên học viên
            </th>
            <th>
               Mã lớp tuyển sinh
            </th>
            <th>
                Tên lớp tuyển sinh
            </th>
            <th>
               Ngày đăng ký
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <form asp-action="formLapHD" asp-controller="Hoadon" method="post">
        @foreach (var item in Model) {
        <tr>
              @*  <td>
                    <input type="checkbox" name="selectedClasses[]" value="@item.Maloptuyensinh"   />
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Maphieu)
                    <input type="hidden" name="maphieu" value="@item.Maphieu" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mahv)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Makh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mamh)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maloptuyensinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenloptuyensinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaydk)
            </td>
           @* <td>
                    <form asp-action="Payment" method="post" asp-route-id="@Model.Maphieu">
                            <input type="hidden" name="registrationCode" value="@regForm.RegistrationCode" />
                            <button type="submit" class="btn btn-primary">Thanh toán</button>
                                </form>
            </td>*@
            <td>
                    @*<form asp-action="formLapHD" asp-controller="Hoadon" asp-route-id="@item.Maphieu">
                        <button type="submit" class="btn btn-primary">Thanh toán</button>
                        </form>*@

                        @*  <form asp-action="FormLapHD" asp-controller="Hoadon">
                        <input type="hidden" name="selectedClasses" value="@item.Maloptuyensinh" />
                        <button type="submit" class="btn btn-primary">Thanh toán</button>
                    </form>*@
                   @* <a asp-action="hoaDon" asp-controller="Hoadon" asp-route-id="@item.Maphieu" class="btn btn-primary">Tạo</a>*@
            </td>
               <td>
                    <a asp-action="formSuaphieudangky" asp-route-id="@item.Maphieu" class="btn btn-primary">Sửa</a>
                </td>
                <td>
                    <a asp-action="formXoaphieudangky" asp-route-id="@item.Maphieu" class="btn btn-danger">Xóa</a>
                </td>
        </tr>
       
         @*<form action="/Hoadon/formLapHD" asp-route-id="@item.Maphieu">
    @foreach (var item in Model)
    {
        <input type="hidden" name="selectedClasses" value="@item.Maphieu" />
    }
    <!-- Other form fields or content -->
    <button type="submit" class="btn btn-primary">Thanh toán</button>*@

   
}
      @* <button type="submit" class="btn btn-primary" >Thanh toán</button>*@
       
        </form>
    </tbody>
</table>
@*<form action="/Hoadon/formLapHD" asp-route-id="@item.Maphieu">
    @foreach (var item in Model)
    {
        <input type="hidden" name="selectedClasses" value="@item.Maphieu" />
    }
    <!-- Other form fields or content -->
    <button type="submit" class="btn btn-primary">Thanh toán</button>
</form>
*@

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <script>
        window.onload = function () {
            var alertElement = document.getElementById('msgAlert');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessageSua))
{
    <script>
        window.onload = function () {
            var alertElement = document.getElementById('msgAlertS');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessageXoa))
{
    <script>
        window.onload = function () {
            var alertElement = document.getElementById('msgAlertX');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}