@model hocvien.Model.Phieudangkyhoc

@{
    ViewData["Title"] = "registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Đăng ký học</h1>


<hr />


<div class="row">
    <div class="col-md-8">
        <form asp-action="CreateRegistration" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Add a section to display the selected class IDs -->
            <div>
                <h4>Lớp tuyển sinh đã chọn:</h4>
                <ul>
                    @foreach (var selectedClass in ViewBag.SelectedClasses)
                    {
                        <li>@selectedClass</li>
                    }
                </ul>
          
            <div class="form-group">
                <label asp-for="Mahv" class="control-label">Mã HV</label>
                <input asp-for="Mahv" class="form-control" value="@ViewBag.s" readonly />
                <span asp-validation-for="Mahv" class="text-danger"></span>
            </div>
          </div>
            <table class="table">
                <tr>
                    @*<th>Mã học viên</th>*@
                    <th>Họ tên</th>
                   
                      <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    </tr>
                    <tr>
                   
                    <td>
                    @ViewBag.Hocvien
                    </td>
                    <td>
                    @ViewBag.NgaySinh
                    </td>

                    <td>
                    @ViewBag.GioiTinh
                    </td>


                    </tr>
                    </table>
            @*<div class="form-group">
                <label class="control-label">Giới tính</label>
                <input class="form-control" value="@ViewBag.GioiTinh" readonly />
            </div>*@
                <h2>Thông tin lớp học</h2>
                <table class="table">
                    <tr>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        @*<th>Thứ học</th>
                        <th>Giờ học</th>*@
                    </tr>
                    @foreach (var loptuyensinh in ViewBag.LopTuyenSinhs)
                    {
                        <tr>
                            <td>@loptuyensinh.Ngaybatdau.ToString("dd/MM/yyyy")</td>
                            <td>@loptuyensinh.Ngayketthuc.ToString("dd/MM/yyyy")</td>
                            @*<td>@loptuyensinh.Thuhoc</td>
                            <td>@loptuyensinh.Giohoc</td>*@
                        </tr>
                    }
                </table>


          
            <div class="form-group">
                <input type="submit" value="Tạo phiếu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

