@model IEnumerable<hocvien.Model.Hocvien>
@*@{
    Layout = "_Layout";
}*@
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              Mã học viên
            </th>
            <th>
               Họ tên
            </th>
            <th>
              Ngày sinh
            </th>
            <th>
               Giới tính
            </th>
            <th>
              SDT
            </th>
            <th>
               Địa chỉ
            </th>
            <th>
             Trạng thái
            </th>
            <th>
                Người tạo
            </th>
            <th>
               Ngày tạo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <form asp-action="registration" >
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mahv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gioitinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nguoitao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaytao)
            </td>
           @* <td>
                    <button class="select-student" data-id="@item.Mahv">Chọn</button>

            </td>*@
                <td>
                        @*<input type="submit" value="Chọn học viên" class="btn btn-primary"/>*@
                        @*<input type="submit" value="Chọn lớp" class="btn btn-primary" />*@
                    <a asp-action="registration" class="btn btn-primary" asp-route-id="@item.Mahv">Chọn</a>

                </td>
        </tr>
        </form>
}
    </tbody>
</table>
