@model IEnumerable<hocvien.Model.Loptuyensinh>
@{
    //Layout = "_Layout";
}



@*<script>
        function luuMaLopHoc() {
            // Lấy mã lớp học từ combobox hoặc bất kỳ đâu tùy vào cách bạn thiết kế
            var maLopHoc = document.getElementById("ddlLopHoc").value;
            // Lưu mã lớp học vào session
            sessionStorage.setItem("maLopHoc", maLopHoc);
        }
    </script>*@
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p>@ViewBag.Message</p>
    <p>
        <a asp-action="themLoptuyensinh" asp-controller="Loptuyensinh" class="btn btn-primary">Thêm lớp tuyển sinh</a>
    </p>
    
}
else
{
    

<form id="selectCourseForm" method="post" action="/Phieudangky/SelectCourse">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                   Mã lớp tuyển sinh
                </th>
                <th>
                   Tên lớp tuyển sinh
                </th>
                <th>
                   Ngày bắt đầu
                </th>
                <th>
                    Ngày kết thúc
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Thuhoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Giohoc)
                </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selectedClasses" value="@item.Maloptuyensinh" />
                    </td>
                    <td>
                        @item.Maloptuyensinh
                    </td>
                    <td>
                        @item.Tenloptuyensinh
                    </td>
                    <td>
                        @item.Ngaybatdau
                    </td>
                    <td>
                        @item.Ngayketthuc
                    </td>
                   @* <td>
                        @item.Thuhoc
                    </td>
                    <td>
                        @item.Giohoc
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" class="btn btn-primary" value="Lưu" />
</form>
}