
@{
    ViewData["Title"] = "danhSach";
    Layout = "_Layout";
}

@*@model List<Hocvien>

<h2>Danh sách học viên đăng ký lớp</h2>

<p>Mã lớp tuyển sinh: @ViewBag.Maloptuyensinh</p>

@foreach (var hocvien in Model)
{
        <div>
            <input type="checkbox" name="hocvienId" value="@hocvien.Mahv" /> @hocvien.Hoten
        </div>
}

<button type="submit" asp-action="XepLop" asp-controller="Xeplop">Xếp lớp</button>
*@
@*@model List<Hocvien>
<h2>Danh sách học viên đăng ký lớp</h2>
<p>Mã lớp tuyển sinh: @ViewBag.Maloptuyensinh</p>
<p>Mã lớp học : @ViewBag.Malophoc</p>
<form asp-action="/Xeplop/XepLop" method="post">
    <input type="hidden" name="maloptuyensinh" value="@ViewBag.Maloptuyensinh" />
    @foreach (var hocvien in Model)
    {
        <div>
            <input type="checkbox" name="hocvienIds" value="@hocvien.Mahv" /> @hocvien.Hoten
        </div>
    }
    <button type="submit" asp-route-id="@ViewBag.Malophoc">Xếp lớp</button>
</form>
*@
@model List<Hocvien>

@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger" id="msgAlertError">
        @TempData["ErrorMessage"]
    </div>
}
<h2>Danh sách học viên đăng ký lớp</h2>
<p>Mã lớp tuyển sinh: @ViewBag.Maloptuyensinh</p>
<p>Mã lớp học: @ViewBag.Malophoc</p>
<form method="post" asp-controller="XepLop" asp-action="XepLop">
    <input type="hidden" name="maloptuyensinh" value="@ViewBag.Maloptuyensinh" />
    <input type="hidden" name="malophoc" value="@ViewBag.Malophoc" />
    @foreach (var hocvien in Model)
    {
        <tr>
            <td>
                <div class="student-info" style="display:flex;flex-wrap:wrap; gap:10px">
                    <input type="checkbox" name="hocvienIds" value="@hocvien.Mahv" />
                    <label style="margin:0;">
                        <p>@hocvien.Hoten</p>
                        <p>Ngày sinh: @hocvien.Ngaysinh.ToString("dd/MM/yyyy")</p>
                        <p>SDT: @hocvien.Sdt</p>
                    </label>
                </div>
            </td>
            
        </tr>
    }
    <button type="submit" class="btn btn-primary">Xếp lớp</button>
</form>
<br>
<div>

    <a asp-action="Index" class="btn btn-primary">Trở về</a>
</div>
<script>

    function hideErrorMessage() {
        var errorMessageDiv = document.getElementById('msgAlert');
        errorMessageDiv.style.display = 'none';
    }

    setTimeout(hideErrorMessage, 3000);
</script>

<script>

    function hideErrorMessage() {
        var errorMessageDiv = document.getElementById('msgAlertError');
        errorMessageDiv.style.display = 'none';
    }

    setTimeout(hideErrorMessage, 3000);
</script>