@model IEnumerable<hocvien.Model.Lophoc>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Malophoc)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Mahv)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Phonghoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maloptuyensinh)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Magv)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Malophoc)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Mahv)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Phonghoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maloptuyensinh)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Magv)
            </td>*@
            <td>

               @* <td>
                    <a asp-action="danhSach" asp-route-id="@item.Maloptuyensinh" class="btn btn-primary">Tạo lớp học</a>
                </td>*@
                <td>
                    <a asp-action="danhSach" asp-route-malophoc="@item.Malophoc" asp-route-maloptuyensinh="@item.Maloptuyensinh" class="btn btn-primary">Tạo lớp học</a>
                </td>
                <td><a asp-action="DanhSachHocVien" asp-route-malophoc="@item.Malophoc" asp-controller="Xeplop">Xem danh sách</a></td>
                <td>
                    <a asp-action="ChonGiaoVien" asp-controller="Phancong" asp-route-malophoc="@item.Malophoc" class="btn btn-primary">Phân công</a>
                </td>
            </td>
        </tr>
}
    </tbody>    
</table>
