@model IEnumerable<hocvien.Model.Phieudangkyhoc>

<p>
    <a asp-action="formThemLop" class="btn btn-primary">Thêm lớp</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="select" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maphieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mahv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaydk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ghichu)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Maloptuyensinh)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <input type="checkbox" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maphieu)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Mahv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaydk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ghichu)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Maloptuyensinh)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
