@model hocvien.Models.CHocvienview

@{
    ViewData["Title"] = "chiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>chiTiet</h1>

<div>
    <h4>CHocvienview</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mahv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mahv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gioitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trangthai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trungtamhoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trungtamhoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Malophoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Malophoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenlop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenlop)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
