@model hocvien.Model.Hocvien

@{
    ViewData["Title"] = "formXoaHocVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa học viên</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mahv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mahv)
        </dd>
        <dt class="col-sm-2">
            Họ tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class="col-sm-2">
            Ngày sinh
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>
        <dt class="col-sm-2">
            Sdt
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class="col-sm-2">
            Địa chỉ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class="col-sm-2">
            Giới tính
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>
        <dt class="col-sm-2">
            Trạng thái
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trangthai)
        </dd>
    </dl>

    <form asp-action="xoaHocVien" asp-route-id="@Model.Mahv">
        @if ((int)ViewBag.flag == 0)
        {
            <input type="submit" value="Xóa" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal" />
        }
    </form>
</div>

<!-- Modal Confirm Delete -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xoá</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Bạn có chắc chắn muốn xoá học viên này?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form asp-action="xoaHocVien" asp-route-id="@Model.Mahv" method="post">
                    <input type="submit" value="Xác nhận" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        @if ((bool)(ViewBag.DeleteSuccess ?? false)) {
            <text>
                $("#confirmDeleteModal").modal("show");
                alert("Xóa học viên thành công!");
            </text>
        }
        @if ((bool)(ViewBag.DeleteFailed ?? false)) {
            <text>
                $("#confirmDeleteModal").modal("show");
                alert("Không thể xóa học viên!");
            </text>
        }
    });
</script>