@model IEnumerable<hocvien.Model.CHocvienview>

@{
    ViewData["Title"] = "Danh sách học viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessageHV))
{
    <div id="msgAlert" class="alert alert-success" role="alert">
        @ViewBag.SuccessMessageHV
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.SuaSuccessMessageHV))
{
    <div id="msgAlertS" class="alert alert-success" role="alert">
        @ViewBag.SuaSuccessMessageHV
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessageXoaHV))
{
    <div id="msgAlertXoaHV" class="alert alert-success" role="alert">
        @ViewBag.SuccessMessageXoaHV
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMatKhau))
{
    <div id="msgAlertMK" class="alert alert-success" role="alert">
        @ViewBag.SuccessMatKhau
    </div>
}

<h1>Danh sách học viên</h1>

<p>
    <a asp-action="themHocVien" class="btn btn-primary">Thêm học viên</a>
</p>

<h2>Tìm kiếm học viên</h2>
<div class="row">
    <div class="col-md-8">
        <input type="search" id="hotenhv" class="form-control rounded" />
    </div>
    <div class="col-md-4">
        <input type="button" class="btn btn-outline-primary" onclick="timHocvien_click()" value="Tìm kiếm" />
    </div>
</div>
<div id="danhsachHocvien"></div>


<table class="table">
    <thead>
        <tr>
            @*  <th>
                    @Html.DisplayNameFor(model => model.Mahv)
                </th>*@
            <th>
                Họ tên
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                SDT
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Giới tính
            </th>
          <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Hoten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngaysinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sdt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diachi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gioitinh)
                </td>
              

                <td>
                    <a asp-action="formSuaHocvien" asp-route-id="@item.Mahv" class="btn btn-primary">Sửa</a>
                </td>
                <td>
                    <a asp-action="formXoaHocVien" asp-route-id="@item.Mahv" class="btn btn-danger delete-btn">Xóa</a>
                </td>
                <td>
                    <a asp-action="chiTiet" asp-route-id="@item.Mahv" class="btn btn-primary">Chi tiết</a>
                </td>
               
            </tr>
        }
    </tbody>
    <div class="pagination">

        <a href="@Url.Action("Index", new { currentPage = 1 })" style="margin-right: 10px;">First</a>
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <a href="@Url.Action("Index", new { currentPage = i })" class="@(ViewBag.CurrentPage == i ? "active" : "")" style="margin-left: 10px;">@i</a>
        }
        <a href="@Url.Action("Index", new { currentPage = ViewBag.TotalPages })" style="margin-left: 10px;">Last</a>

    </div>
</table>
<p>Tổng số record: @ViewBag.TotalItems</p>
<p>Trang hiện tại: @ViewBag.CurrentPage</p>

<script type="text/javascript">function timHocvien_click() {
        const hotenhv = document.getElementById("hotenhv").value;
        // Create an XMLHttpRequest object
        const xhttp = new XMLHttpRequest();

        // Define a callback function
        xhttp.onload = function () {
            // Here you can use the Data
            document.getElementById("danhsachHocvien").innerHTML = xhttp.responseText;
        }

        // Send a request
        const strUrl = "/Hocvien/timHocvien/" + hotenhv;
        xhttp.open("GET", strUrl);
        xhttp.send();

    }</script>


@if (!string.IsNullOrEmpty(ViewBag.SuccessMessageHV))
{
    <script>
        window.onload = function () {
            var alertElement = document.getElementById('msgAlert');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}
@if (!string.IsNullOrEmpty(ViewBag.SuaSuccessMessageHV))
{
    <script>
        window.onload = function () {
            var alertElement = document.getElementById('msgAlertS');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessageXoaHV))
{
    <script>
        window.onload = function () {
            var alertElement = document.getElementById('msgAlertXoaHV');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMatKhau))
{
    <script>
        window.onload = function () {
            var alertElement = document.getElementById('msgAlertMK');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}