@model IEnumerable<hocvien.Model.Hocvien>
@*@{
    Layout = "_Layout";
}*@

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p>@ViewBag.Message</p>
    
}
else
{
<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.Mahv)
            </th>*@
            <th>
                Họ tên
            </th>
            <th>
               Ngày sinh
            </th>
            <th>
                SDT
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
               Giới tính
            </th>
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Mahv)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            
                <td>
                        @if (item.Gioitinh == 1)
                        {
                            <span>Nam</span>
                        }
                        else
                        {
                            <span>Nữ</span>
                        }
                    </td>
            
            <td>
                    <a asp-action="chiTiet" class="btn btn-primary" asp-route-id="@item.Mahv">Chi tiết</a>
            </td>
        </tr>
}
    </tbody>
</table>
}