@*
@{
    ViewData["Title"] = "ChonGiaoVien";
}

<h1>ChonGiaoVien</h1>*@
@{
    Layout = "_Layout";
}
@model List<Giaovien>
@if (TempData.ContainsKey("ErrorPC"))
{
    <div class="alert alert-danger" id="msgAlertError">
        @TempData["ErrorPC"]
    </div>
}
<h2>Chọn giáo viên cho lớp học</h2>

<form method="post" asp-action="PhanCongGiaoVien" asp-controller="Phancong">
    <input type="hidden" name="malophoc" value="@ViewBag.MaLopHoc" />

    <label>Giáo viên:</label><br />
    @foreach (var giaoVien in ViewBag.DanhSachGiaoVien)
    {
        <label>
            <input type="checkbox" name="magv" value="@giaoVien.Magv" />
            @giaoVien.Hoten
        </label>

        <br />
    }

    <button type="submit" class="btn btn-primary">Lưu phân công</button>
</form>



<h2>Danh sách giáo viên đã phân công</h2>
<table>
    <thead>
        <tr>
            <th>Giáo viên</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var lopGiaoVien in ViewBag.DanhSachLopGiaoVien)
        {
            <tr>
                <td>@lopGiaoVien.MagvNavigation.Hoten</td>
                <td>
                    <!-- Add "Edit" button to each row -->
                    <form asp-action="formSuaPhanCongGiaoVien" asp-controller="Phancong">
                        <input type="hidden" name="malophoc" value="@ViewBag.MaLopHoc" />
                        <input type="hidden" name="magv" value="@lopGiaoVien.Magv" />
                       @* <button type="submit" class="btn btn-primary">Edit</button>*@
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>

    function hideErrorMessage() {
        var errorMessageDiv = document.getElementById('msgAlertError');
        errorMessageDiv.style.display = 'none';
    }

    setTimeout(hideErrorMessage, 4000);
</script>