@model IEnumerable<hocvien.Model.Monhoc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessageMonHoc))
{
    <div id="msgAlert" class="alert alert-success" role="alert">
        @ViewBag.SuccessMessageMonHoc
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.suaMH))
{
    <div id="msgAlertS" class="alert alert-success" role="alert">
        @ViewBag.suaMH
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.xoaMH))
{
    <div id="msgAlertXoaMH" class="alert alert-success" role="alert">
        @ViewBag.xoaMH
    </div>
}
<h1>Danh sách môn học</h1>

<p>
    <a asp-action="formthemMonhoc" class="btn btn-primary">Thêm môn học</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mamh)
            </th>
            <th>
               Tên môn học
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Học phí
            </th>
            <th>
                Người tạo
            </th>
            <th>
               Ngày tạo
            </th>
            <th>
                Trạng thái
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mamh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenmh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hocphi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nguoitao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaytao)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trangthai)
                </td>
            <td>
                <td>
                    <a asp-action="formSuaMonhoc" asp-route-id="@item.Mamh" class="btn btn-primary">Sửa</a>
                </td>
                <td>
                    <a asp-action="formXoaMonhoc" asp-route-id="@item.Mamh" class="btn btn-danger delete-btn">Xóa</a>
                </td>
            </td>
        </tr>
}
    </tbody>
</table>
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessageMonHoc))
{
    <script>
        window.onload = function () {
            var alertElement = document.getElementById('msgAlert');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}

@if (!string.IsNullOrEmpty(ViewBag.suaMH))
{
    <script>
        window.onload = function () {
            var alertElement = document.getElementById('msgAlertS');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}

@if (!string.IsNullOrEmpty(ViewBag.xoaMH))
{
    <script>
        window.onload = function () {
            var alertElement = document.getElementById('msgAlertXoaMH');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}