@model hocvien.Model.Giaovien

@{
    ViewData["Title"] = "formXoaGiaoVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Xóa giáo viên</h3>

@if ((int)ViewBag.flag == 0)
{
    <h5>Bạn thực sự muốn xóa</h5>
}
else
{
    <h5>Bạn không thể xóa</h5>
}
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
          Mã giáo viên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Magv)
        </dd>
        <dt class = "col-sm-2">
            Ho tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class = "col-sm-2">
           Ngày sinh
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>
        <dt class = "col-sm-2">
          Giới tính
        </dt>
        <dd class="col-sm-10">
            @if (Model.Gioitinh == 1)
            {
                <text>Nam</text>
            }
            else
            {
                <text>Nữ</text>
            }
        </dd>
        <dt class = "col-sm-2">
           Địa chỉ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
           Sdt
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
          Cấp độ dạy
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capdoday)
        </dd>
        <dt class = "col-sm-2">
            Trình độ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trinhdo)
        </dd>
        <dt class = "col-sm-2">
           Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Người tạo
        </dt>
    
    </dl>
    
    <form asp-action="xoaGiaoVien" asp-route-id="@Model.Magv">
        @if ((int)ViewBag.flag == 0)
        {
            <input type="submit" value="Xóa" class="btn btn-danger" />

        }
    </form>
</div>
