@model hocvien.Model.Giaovien

@{
    ViewData["Title"] = "formXoaGiaoVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>formXoaGiaoVien</h1>

@if ((int)ViewBag.flag == 0)
{
    <h5>Ban thuc su muon xoa</h5>
}
else
{
    <h5>Ban không the xoa</h5>
}
<div>
    <h4>Giaovien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Magv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Magv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gioitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capdoday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capdoday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trinhdo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trinhdo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nguoitao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nguoitao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaytao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaytao)
        </dd>
    </dl>
    
    <form asp-action="xoaHocVien" asp-route-id="@Model.Magv">
        @if ((int)ViewBag.flag == 0)
        {
            <input type="submit" value="Xóa" class="btn btn-danger" />

        }
    </form>
</div>
