@model IEnumerable<hocvien.Model.Giaovien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách giáo viên</h1>
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div id="msgAlert" class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.SuaSuccessMessage))
{
    <div id="msgAlertS" class="alert alert-success" role="alert">
        @ViewBag.SuaSuccessMessage
    </div>
}
<p>
    <a asp-action="formthemGiaovien" class="btn btn-primary">Thêm giáo viên</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Mã giáo viên
            </th>
            <th>
               Họ tên
            </th>
            <th>
               Ngày sinh
            </th>
            <th>
               Giới tính
            </th>
           
            <th>
               Địa chỉ
            </th>
            <th>
                SDT
            </th>
            <th>
                Cấp độ dạy          
            </th>
            <th>
                Trình độ
            </th>
            <th>
               Email
            </th>
            <th>
                Người tạo
            </th>
            <th>
               Ngày tạo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Magv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gioitinh)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capdoday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trinhdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nguoitao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaytao)
            </td>
            <td>
                <td>
                    <a asp-action="formSuagiaovien" asp-route-id="@item.Magv" class="btn btn-primary">Sửa</a>
                </td>
                <td>
                    <a asp-action="formXoaGiaoVien" asp-route-id="@item.Magv" class="btn btn-danger delete-btn">Xóa</a>
                </td>
            </td>
        </tr>
}
    </tbody>
</table>
