@model hocvien.Model.Loptuyensinh

@{
    ViewData["Title"] = "formXoaloptuyensinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData.ContainsKey("ErrorMessageXoaTS"))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessageXoaTS"]
    </div>
}

<h1>Xóa lớp tuyển sinh</h1>

<h3>Bạn có thực sự muốn xóa</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Mã lớp tuyển sinh
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maloptuyensinh)
        </dd>
        <dt class = "col-sm-2">
            Tên lớp tuyển sinh
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenloptuyensinh)
        </dd>
        <dt class="col-sm-2">
            Mã khóa học
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Makh)
        </dd>
        <dt class="col-sm-2">
            Mã môn học
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mamh)
        </dd>
        <dt class="col-sm-2">
            Ngày bắt đầu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ngaybatdau)
        </dd>
        <dt class="col-sm-2">
            Ngày kết thúc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ngayketthuc)
        </dd>
        <dt class = "col-sm-2">
          Trạng thái
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trangthai)
        </dd>
        <dt class = "col-sm-2">
          Người tạo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nguoitao)
        </dd>
        <dt class = "col-sm-2">
          Ngày tạo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaytao)
        </dd>
        
        <dt class = "col-sm-2">
          Mã ca học
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Macahoc)
        </dd>
       
        
    </dl>
    <form asp-action="xoaLoptuyensinh" asp-route-id="@Model.Maloptuyensinh">
        <div class="row">
            <div class="col-sm-2">
        @if ((int)ViewBag.flag == 0)
        {
            <input type="submit" value="Xóa" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal" />
        }
        </div>
            <div class="col-sm-10">
                <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
            </div>
            </div>
    </form>
   @* <form asp-action="xoaLoptuyensinh" method="post">
        <div class="row">
            <div class="col-sm-2">
                <input type="submit" value="Xóa" class="btn btn-danger" />
            </div>
          
        </div>
    </form>*@

</div>

@*<h1>Xóa lớp tuyển sinh</h1>

<h3>Bạn có thực sự muốn xóa?</h3>

<hr />

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Maloptuyensinh)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Maloptuyensinh)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Tenloptuyensinh)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Tenloptuyensinh)
    </dd>
    <!-- Add other fields here -->
</dl>

<form asp-action="xoaLoptuyensinh" method="post">
    <div class="row">
        <div class="col-sm-2">
            <input type="submit" value="Xóa" class="btn btn-danger" />
        </div>
        <div class="col-sm-10">
            <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
        </div>
    </div>
</form>

*@