@model IEnumerable<hocvien.Model.CLopTS>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessageTS))
{
    <div id="msgAlert" class="alert alert-success" role="alert">
        @ViewBag.SuccessMessageTS
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.SuaSuccessMessageTS))
{
    <div id="msgAlertS" class="alert alert-success" role="alert">
        @ViewBag.SuaSuccessMessageTS
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.xoa))
{
    <div id="msgAlertS" class="alert alert-success" role="alert">
        @ViewBag.xoa
    </div>
}
<h1>Danh sách lớp tuyển sinh</h1>

<p>
    <a asp-action="themLoptuyensinh" class="btn btn-primary">Thêm lớp tuyển sinh</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã lớp tuyển sinh
            </th>
            <th>
                Tên lớp tuyển sinh
            </th>
         
            <th>
                Ngày bắt đầu
            </th>
            <th>
                Ngày kết thúc
            </th>
            <th>
                Thứ học
            </th>
            <th>
                Giờ học
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Maloptuyensinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tenloptuyensinh)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Ngaybatdau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngayketthuc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thuhoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Giohoc)
                </td>
                @* <td>
                        @Html.DisplayFor(modelItem => item.Makh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mamh)
                    </td>*@
                <td>
                <td>
                    <a asp-action="formTaolophoc" asp-controller="Xeplop" asp-route-id="@item.Maloptuyensinh" class="btn btn-primary">Tạo lớp học</a>
                </td>
                <td>
                    <a asp-action="formSualoptuyensinh"  asp-route-id="@item.Maloptuyensinh" class="btn btn-primary">Sửa</a>
                </td>
                <td>
                    <a asp-action="formXoaloptuyensinh" asp-route-id="@item.Maloptuyensinh" class="btn btn-danger">Xóa</a>
                </td>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <script>window.onload = function () {
            var alertElement = document.getElementById('msgAlert');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}
@if (!string.IsNullOrEmpty(ViewBag.SuaSuccessMessageTS))
{
    <script>window.onload = function () {
            var alertElement = document.getElementById('msgAlert');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}
@if (!string.IsNullOrEmpty(ViewBag.xoa))
{
    <script>
        window.onload = function () {
            var alertElement = document.getElementById('msgAlert');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}