@model CreatePhieudangkyhocViewModel
<form method="post" action="/PhieuDk/LuuPhieuDangKy">
    <div>
        <label for="selectedClasses">Danh sách lớp tuyển sinh:</label>
        @foreach (var lopTuyenSinh in ViewBag.LopTuyenSinhs)
        {
            <div>
                <input type="checkbox" name="selectedClasses" value="@lopTuyenSinh.Maloptuyensinh" /> @lopTuyenSinh.Tenloptuyensinh
            </div>
        }
    </div>
    @*<div>
            <label for="selectedHocVien">Chọn học viên:</label>
            <select name="selectedHocVien">
                <option value="">-- Chọn học viên --</option>
                @foreach (var hocVien in ViewBag.HocViens)
                {
                    <option value="@hocVien.Mahv">@hocVien.Hoten</option>
                }
            </select>
        </div>*@
    <h3>Tìm kiếm học viên</h3>
    <div class="row">
        <div class="col-md-8">
            <input type="text" id="tenhv" class="form-control" />
            <input type="hidden" id="selectedHocVien" />

        </div>
        <div class="col-md-4">
            <input type="button" onclick="timHocvien_click()" value="Tìm kiếm" />
        </div>
    </div>
    <div id="danhsachHocvien"></div>
    @*<select id="malop" asp-items="@ViewBag.DSLop" class="form-control" onchange="chonLop_change()">
        </select>
        <div id="thongtinlophoc"></div>*@

    <button type="submit">Lưu Phiếu Đăng Ký</button>
</form>
<script type="text/javascript">function timHocvien_click() {
        const tenhv = document.getElementById("tenhv").value;
        // Create an XMLHttpRequest object
        const xhttp = new XMLHttpRequest();

        // Define a callback function
        xhttp.onload = function () {
            // Here you can use the Data
            document.getElementById("danhsachHocvien").innerHTML = xhttp.responseText;
        }

        // Send a request
        const strUrl = "/Phieudangky/timHocvien/" + tenhv;
        xhttp.open("GET", strUrl);
        xhttp.send();

    }
    function chonHocvien_click(id) {
        // Create an XMLHttpRequest object
        const xhttp = new XMLHttpRequest();

        // Define a callback function
        xhttp.onload = function () {
            // Here you can use the Data
            document.getElementById("thongtinHocvien").innerHTML = xhttp.responseText;
            document.getElementById("danhsachHocvien").innerHTML = "";
            document.getElementById("mahv").innerHTML = xhttp.responseText;
        }

        // Send a request
        const strUrl = "/Phieudangky/timMotHocvien/" + id;
        xhttp.open("GET", strUrl);
        xhttp.send();
    }
    function chonLop_change() {
        const malop = document.getElementById("malop").value;
        const xhttp = new XMLHttpRequest();
        // Define a callback function
        xhttp.onload = function () {
            // Here you can use the Data
            document.getElementById("thongtinlophoc").innerHTML = xhttp.responseText;
            //document.getElementById("danhsachHocvien").innerHTML = "";
        }

        // Send a request
        const strUrl = "/Phieudangky/timLop/" + malop;
        xhttp.open("GET", strUrl);
        xhttp.send();
    }</script>