@model IEnumerable<hocvien.Model.Khoahoc>

@{
    ViewData["Title"] = "Danh sách khóa học";
    Layout = "_Layout";
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div id="msgAlert" class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.sua))
{
    <div id="msgAlertS" class="alert alert-success" role="alert">
        @ViewBag.sua
    </div>
}
<h1>Danh sách khóa học</h1>

<p>
    <a asp-action="formthemKhoahoc">Thêm khóa học</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Mã khóa học
            </th>
            <th>
              Tên khóa học
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Thoiluong)*@
            </th>
            <th>
               Mô tả
            </th>
            <th>
                Người tạo
            </th>
            <th>
               Ngày tạo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Makh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tenkh)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Thoiluong)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motakh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nguoitao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngaytao)
                </td>
                <td>
                    <a asp-action="formXoakhoahoc" asp-route-id="@item.Makh" class="btn btn-danger">Xóa</a>
                </td>
                <td>
                    <a asp-action="formSuakhoahoc" asp-route-id="@item.Makh" class="btn btn-primary">Sửa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <script>window.onload = function () {
            var alertElement = document.getElementById('msgAlert');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}

@if (!string.IsNullOrEmpty(ViewBag.sua))
{
    <script>window.onload = function () {
            var alertElement = document.getElementById('msgAlertS');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}