@model IEnumerable<hocvien.Model.Phieudiem>

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Diemdoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diemviet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diemnoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diemnghe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trangthai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MahvNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MalophocNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diemdoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diemviet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diemnoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diemnghe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MahvNavigation.Mahv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MalophocNavigation.Malophoc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
