@model IEnumerable<hocvien.Model.Phieudiem>

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!string.IsNullOrEmpty(ViewBag.Diem))
{
    <div id="msgAlert" class="alert alert-success" role="alert">
        @ViewBag.Diem
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Họ tên học viên
            </th>
          @*  <th>
               Mã lớp học
            </th>*@
            <th>
               Điểm đọc
            </th>
            <th>
               Điểm viết
            <th>
                Điểm nói
            </th>
            <th>
               Điểm nghe
            </th>
           
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MahvNavigation.Hoten)
                </td>
               @* <td>
                    @Html.DisplayFor(modelItem => item.MalophocNavigation)
                </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.Diemdoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diemviet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diemnoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diemnghe)
            </td>
           
           
        </tr>
}
    </tbody>
</table>
@if (!string.IsNullOrEmpty(ViewBag.Diem))
{
    <script>
        window.onload = function () {
            var alertElement = document.getElementById('msgAlert');
            alertElement.style.display = 'block';
            setTimeout(function () {
                alertElement.style.opacity = '0';
                setTimeout(function () {
                    alertElement.style.display = 'none';
                }, 500); // Thời gian ẩn sau khi mờ dần (đơn vị: milliseconds)
            }, 2000); // Thời gian hiển thị (đơn vị: milliseconds)
        }</script>
}