@model IEnumerable<hocvien.Model.Hoadon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách hóa đơn</h1>

<p>
    <a asp-action="search" class="btn btn-primary">Lập phiếu thanh toán</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              Mã hóa đơn
            </th>
            <th>
                Mã Phiếu
            </th>
            <th>
               Tổng tiền thanh toán
            </th>
            <th>
              Số tiền đã trả
            </th>
            <th>
               Số tiền còn lại
            </th>
            <th>
               Hình thức
            </th>
            <th>
              Người thu
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Mahv)
            </th>*@
            <th>
               Ngày thu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mahd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maphieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tongtienthanhtoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sotiendatra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sotienconlai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hinhthuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manv)
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.Mahv)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Ngaythu)
            </td>
            <td>
               @* <td>
                    <a asp-action="formXoahoadon" asp-route-id="@item.Mahd" class="btn btn-danger">Xóa</a>
                </td>*@
                <td>
                    <a asp-action="chiTiethoadon" asp-controller="Hoadon" asp-route-mahd="@item.Mahd" class="btn btn-primary">Chi tiết</a>
                </td>
            
        </tr>
}
    </tbody>
</table>
