@model IEnumerable<hocvien.Model.Phieudangkyhoc>


@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p class="align-content-center">@ViewBag.Message</p>
    <p>
        <a asp-action="SearchCourse" asp-controller="Hoadon" class="btn btn-primary">Tạo phiếu đăng ký</a>
    </p>
}
else
{
    
<table class="table">
    <thead>
        <tr>
            <th>
               Mã phiếu
            </th>
                <th>
                    Mã lớp tuyển sinh
                </th>
                <th>
                    Mã khóa học
                </th>
            <th>
                Mã học viên
            </th>
                <th>
                    Ngày sinh
                </th>
            <th>
              Họ tên học viên
            </th>
            <th>
                Ngày đăng ký
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                  <td>
                    @Html.DisplayFor(modelItem => item.Maphieu)
                </td>
                   
                    <td>@item.LopDangkyhocs.FirstOrDefault()?.Maloptuyensinh</td>



                    <td>
                        @item.LopDangkyhocs.FirstOrDefault()?.MaloptuyensinhNavigation?.MakhNavigation?.Makh
                    </td>
                
                <td>
                @Html.DisplayFor(modelItem => item.Mahv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MahvNavigation.Hoten)
            </td>
                    <td>
                        @item.MahvNavigation?.Ngaysinh.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ngaydk)
                    </td>
          
            <td>
                    <form method="post" action="formLapHD">
        <input type="hidden" name="maphieu" value="@item.Maphieu" />
                        <input type="hidden" name="mahv" value="@item.Mahv" />
                        <button type="submit" class="btn btn-primary btn-rounded">Thanh toán</button>
    </form>

                
            </td>
        </tr>
}
    </tbody>
</table>
}