@model IEnumerable<hocvien.Model.Phieudangkyhoc>


@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p class="align-content-center">@ViewBag.Message</p>
    <p>
        <a asp-action="SearchCourse" asp-controller="Hoadon" class="btn btn-primary">Tạo phiếu đăng ký</a>
    </p>
}
else
{
    
<table class="table">
    <thead>
        <tr>
            <th>
               Mã phiếu
            </th>
            <th>
                Mã học viên
            </th>
            <th>
               Mã nhân viên
            </th>
            <th>
                Ngày đăng ký
            </th>
            <th>
                Ghi chú
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                  <td>
                    @Html.DisplayFor(modelItem => item.Maphieu)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mahv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaydk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ghichu)
            </td>
            <td>
                    <form method="post" action="formLapHD">
        <input type="hidden" name="maphieu" value="@item.Maphieu" />
                        <input type="hidden" name="mahv" value="@item.Mahv" />
                        <button type="submit" class="btn btn-primary btn-rounded">Thanh toán</button>
    </form>

                
            </td>
        </tr>
}
    </tbody>
</table>
}